.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
tests
.phpunit.result.cache
docker-compose*.yml
Dockerfile
README.md
.idea
.vscode
bootstrap/cache/*.php
